<strong>Olá, {{ name }}</strong>
<h1><b>Bem vindo!</b></h1>
<p>Você acaba de se matricular em nossa academia, confira os detalhes de sua matrícula abaixo:</p>
<p>
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
